
# PlanAhead Generated physical constraints 

NET "reg_num[6]" LOC = P76;
NET "reg_num[5]" LOC = P75;
NET "reg_num[4]" LOC = P72;
NET "reg_num[3]" LOC = P71;
NET "reg_num[1]" LOC = P69;
NET "reg_num[2]" LOC = P70;
NET "reg_num[0]" LOC = P68;
NET "clock" LOC = P87;
NET "oscillator" LOC = P57;
NET "reset" LOC = P47;
NET "mem_read" LOC = P92;
NET "mem_write" LOC = P93;
NET "reg_write" LOC = P91;
NET "op[1]" LOC = P88;
NET "op[0]" LOC = P90;
NET "rwd_0[6]" LOC = P29;
NET "rwd_0[5]" LOC = P28;
NET "rwd_0[4]" LOC = P27;
NET "rwd_0[3]" LOC = P25;
NET "rwd_0[2]" LOC = P24;
NET "rwd_0[1]" LOC = P21;
NET "rwd_0[0]" LOC = P20;
NET "rwd_1[6]" LOC = P19;
NET "rwd_1[5]" LOC = P18;
NET "rwd_1[4]" LOC = P16;
NET "rwd_1[3]" LOC = P15;
NET "rwd_1[2]" LOC = P13;
NET "rwd_1[1]" LOC = P12;
NET "rwd_1[0]" LOC = P11;
NET "instruction_address[7]" LOC = P105;
NET "instruction_address[6]" LOC = P104;
NET "instruction_address[5]" LOC = P103;
NET "instruction_address[4]" LOC = P102;
NET "instruction_address[3]" LOC = P101;
NET "instruction_address[2]" LOC = P99;
NET "instruction_address[0]" LOC = P96;
NET "instruction_address[1]" LOC = P98;
NET "instruction[7]" LOC = P130;
NET "instruction[6]" LOC = P129;
NET "instruction[5]" LOC = P127;
NET "instruction[2]" LOC = P124;
NET "instruction[4]" LOC = P126;
NET "instruction[3]" LOC = P125;
NET "instruction[1]" LOC = P121;
NET "instruction[0]" LOC = P120;
